In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
ls

 Volume in drive W is DATA
 Volume Serial Number is A2E5-30A4

 Directory of W:\MIE368

11/11/2019  10:31 AM    <DIR>          .
11/11/2019  10:31 AM    <DIR>          ..
11/11/2019  10:30 AM    <DIR>          .ipynb_checkpoints
11/11/2019  09:57 AM             9,174 Census Analysis.ipynb
11/11/2019  09:57 AM           181,008 Census_data.ipynb
10/31/2019  03:12 PM    <DIR>          data
10/31/2019  04:46 PM             2,459 LinReg.ipynb
11/11/2019  10:19 AM            91,892 Model.ipynb
10/31/2019  03:50 PM           300,982 TaxiDataCleaning.ipynb
11/11/2019  10:31 AM             8,584 TestModel.ipynb
               6 File(s)        594,099 bytes
               4 Dir(s)  1,759,796,592,640 bytes free

In [2]:
data = pd.read_csv("data/taxi_cleaned.csv")

In [3]:
data.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,duration
0,CMT,2014-01-09 20:45:25,2014-01-09 20:52:31,1,0.7,-73.994770,40.736828,-73.982227,40.731790,CRD,6.5,0.5,0.5,1.40,0.0,8.90,426
1,CMT,2014-01-09 20:46:12,2014-01-09 20:55:12,1,1.4,-73.982392,40.773382,-73.960449,40.763995,CRD,8.5,0.5,0.5,1.90,0.0,11.40,540
2,CMT,2014-01-09 20:44:47,2014-01-09 20:59:46,2,2.3,-73.988570,40.739406,-73.986626,40.765217,CRD,11.5,0.5,0.5,1.50,0.0,14.00,899
3,CMT,2014-01-09 20:44:57,2014-01-09 20:51:40,1,1.7,-73.960213,40.770464,-73.979863,40.777050,CRD,7.5,0.5,0.5,1.70,0.0,10.20,403
4,CMT,2014-01-09 20:47:09,2014-01-09 20:53:32,1,0.9,-73.995371,40.717248,-73.984367,40.720524,CRD,6.0,0.5,0.5,1.75,0.0,8.75,383

In [4]:
data.columns

Index(['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount',
       'duration'],
      dtype='object')

In [15]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(columns=['tip_amount','pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude','payment_type','vendor_id', 'pickup_datetime', 'dropoff_datetime','total_amount','mta_tax']), data['tip_amount'], test_size=0.30, random_state=5)

In [6]:
import seaborn as sns
from sklearn.linear_model import LinearRegression, LogisticRegression, LassoCV, RidgeCV

In [12]:
linreg = LinearRegression()
linreg.fit(x_train, y_train)

train_score = linreg.score(x_train, y_train)
test_score = linreg.score(x_test, y_test)

In [16]:
print('The train score is {} and the test score is {}'.format(train_score, test_score))
print('\n')
betas = pd.Series(linreg.coef_, index=x_train.columns)
betas = betas.append(pd.Series({"Intercept": linreg.intercept_}))
print(betas)

The train score is 0.38545876874805496 and the test score is 0.3844660058581069


passenger_count   -0.006700
trip_distance      0.004456
fare_amount        0.151982
surcharge          0.142523
tolls_amount      -0.074787
duration          -0.000012
Intercept          0.352831
dtype: float64

In [20]:
# Fit the model
lasso = LassoCV(eps=0.001)
lasso.fit(x_train, y_train)

# calculate the score
train_score = lasso.score(x_train, y_train)
test_score = lasso.score(x_test, y_test)

print('The train score is {} and the test score is {}'.format(train_score, test_score)) 

# calculate betas
print('\n')
betas = pd.Series(lasso.coef_, index= x_train.columns)
betas = betas.append(pd.Series({"Intercept": lasso.intercept_}))
print(betas)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

The train score is 0.38545876874805496 and the test score is 0.3844660058581069


passenger_count   -0.000000
trip_distance      0.000000
fare_amount        0.091783
surcharge          0.000000
tolls_amount      -0.000000
duration           0.000560
Intercept          0.596806
dtype: float64

//Cart and RFT then model engineering